= form_for @exhibit do |f|
  - if @exhibit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exhibit.errors.count, "error")} prohibited this exhibit from being saved:"
      %ul
        - @exhibit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :e_name
    = f.text_area :e_name
  .field
    = f.label :description_e
    = f.text_area :description_e
  .field
    = f.label :i_value
    = f.number_field :i_value
  .field
    = f.label :age
    = f.number_field :age
  .field
    = f.label :size
    = f.text_field :size
  .field
    = f.label :condition
    = f.text_area :condition
  .field
    = f.label :collection
    = f.text_field :collection_id
  .actions
    = f.submit 'Save'
